@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


:root {
    --color-principal-300: #2e2f2f;
    --color-principal-400: #161717;
}

.chat-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.main-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.chat {
    height: calc(100vh - 7rem);
    overflow-y: auto;
}

.chats-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

form {
    display: flex;
    gap: 2rem;
    color: white;
    background-color: var(--color-principal-400);
    padding: 1rem;
    align-items: center;
    justify-content: center;
    height: 7rem;
}

.input-message {
    border: none;
    background-color: var(--color-principal-400);
    color: white;
    text-align: center;
    display: flex;
    font-size: 1.6rem;
    width: 80%;
    padding: 1rem;
}

.footer-input input:hover {
    background-color: var(--color-principal-400);
}

.footer-input button {
    background-color: var(--color-principal-400);
    border: none;
}

.footer-input label {
    display: none;
}

.bi-send-fill {
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.bi-send-fill:hover {
    cursor: pointer;
    background-color: #21c063;
}

@media(max-width: 1400px) {
    .chats-section {
        position: absolute;
        z-index: 2;
    }

    .main-content {
        position: relative;
    }
}