@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


:root {
    --color-principal-300: #2e2f2f;
    --color-principal-400: #1d1f1f;
    --color-principal-500: #161717;
}

.contacts-main {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 30rem;
    background-color: var(--color-principal-500);
    color: white;
    height: 100vh;
    overflow-y: auto;
}

.contacts-main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem, 1rem;
    margin: 2rem;
}

.contacts-main-header button {
    border: none;
    background-color: var(--color-principal-500);
    align-items: center;
}

.bi-three-dots-vertical,
.bi-chat-square {
    background-color: var(--color-principal-500);
    padding: 1rem;
    border-radius: 50%;
}

.bi-three-dots-vertical:hover,
.bi-chat-square:hover {
    background-color: var(--color-principal-300);
    cursor: pointer;
}


.contacts-main-search {
    display: flex;
    align-items: center;
    margin: 2rem;
}

.contacts-main-search button {
    border: none;
    border-radius: 50%;
    background-color: var(--color-principal-300);
    padding: 1rem;
    margin: -1.7rem;
    z-index: 1;
}

.bi-search {
    background-color: var(--color-principal-300);
}

.contacts-main-search input {
    background-color: var(--color-principal-300);
    border: none;
    padding: 2rem;
    width: 100%;
}

.contacts-main-options-buttons {
    display: flex;
    flex-wrap: wrap;
}

.contacts-main-options-buttons button {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--color-principal-300);
    border-radius: 1rem;
    background-color: var(--color-principal-500);
    color: white;
    font-size: 2rem;
    height: min-content;

}

.contacts-main-options-buttons button:hover {
    background-color: var(--color-principal-300);
    cursor: pointer;
}

.contacts-main-options-buttons button:focus {
    background-color: #103529;
    cursor: pointer;
    color: #b2f0a2;

}

.contacts-main-archived {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.contacts-main-archived:hover {
    cursor: pointer;
}

.contacts-main-archived-left {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.contacts-main-archived-right {
    color: #1fa032;
}

.contacts-main-contacts {
    margin: 1rem;
}

.contacts-item {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    color: white;
    font-size: 2rem;
    border-radius: 1rem;
}

.contacts-item img {
    width: 6rem;
    height: 6rem;
}

.contacts-item:hover {
    background-color: var(--color-principal-300);
    cursor: pointer;
}

@media (max-width:1400px) {
    .contacts-main {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

}

@media(max-width:550px) {
    .contacts-main {
        left: 0;
    }
}